<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userDaoBean" class="com.shichong.spring6.dao.UserDao"/>
    <bean id="vipDaoBean" class="com.shichong.spring6.dao.VipDao"/>

    <bean id="customerService" class="com.shichong.spring6.service.CustomerService">
        <!--   index 0是有参构造函数的第一个参数，1是第二个参数，依次类推
                ref是指定注入bean的id
         -->
        <constructor-arg index="0" ref="userDaoBean"/>
        <constructor-arg index="1" ref="vipDaoBean"/>
    </bean>


    <bean id="csBean2" class="com.shichong.spring6.service.CustomerService">
        <!--   name userDao是有参构造函数的参数名
                ref是指定注入bean的id
         -->
        <constructor-arg name="userDao" ref="userDaoBean"/>
        <constructor-arg name="vipDao" ref="vipDaoBean"/>
    </bean>

    <bean id="csBean3" class="com.shichong.spring6.service.CustomerService" autowire="constructor"/>
</beans>