<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--根据name 自动注入-->

    <!--    <bean id="orderService" class="com.shichong.spring6.service.OrderService"  autowire="byName"/>-->
    <!--根据type 自动注入-->

    <bean id="orderService" class="com.shichong.spring6.service.OrderService" autowire="byType"/>

    <bean id="orderDao" class="com.shichong.spring6.dao.OrderDao"/>


</beans>