<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
        <!--选择性实例化bean-->
    <!--第一种
    如果use-default-filters为false 包下面所有的注解都不生效-->
    <context:component-scan base-package="com.shichong.spring6.bean2" use-default-filters="false">
        <!--只有使用@Repository和@Service修饰的类才会生效-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
    <!--
        第二种
        如果use-default-filters为true 包下面所有的注解都会生效 (默认为true)
    -->
    <context:component-scan base-package="com.shichong.spring6.bean2" use-default-filters="true">
        <!--除了使用@Repository和@Service修饰的类都会生效-->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>


</beans>